@import "tailwindcss";

@theme {
  --color-jindo-blue: #606b8f;
  --color-jindo-sage: #a4ba9b;
  --color-jindo-terracotta: #c67256;
  --color-jindo-cream: #eddfbc;
  --color-jindo-charcoal: #454346;
}

body {
  margin: 0;
}
